.location-content {
  padding: 50px;
  font-family: sans-serif;
  background-image: url("https://static.wikia.nocookie.net/rickandmorty/images/d/d3/Anatomy_Park_7.png/revision/latest?cb=20160913082442");
}