.locationContent {
  padding: 50px;
  font-family: sans-serif;
  background-image: url("https://www.cnet.com/a/img/btegfHruK3Rfv_EzjGzNUvJ1Q38=/2021/03/30/9bf786f0-b413-4e5d-a1f2-67e854277d7b/rick-morty-season-5.png");
}
.locationTable {
  width: 650px;
  opacity: 0.8;
  background-color: lightyellow;

}
.headRowLocation {
  color: red;
  font-size: 1.2em;
  font-weight: bold
}
.body {
  color: red;
  font-weight: bold
}
