.locationContent {
  padding: 50px;
  font-family: sans-serif;
  background-image: url("https://static.wikia.nocookie.net/rickandmorty/images/d/d3/Anatomy_Park_7.png/revision/latest?cb=20160913082442");
}
.locationTable {
  width: 650px;
  opacity: 0.8;
  background-color: lightyellow;

}
.headRowLocation {
  color: red;
  font-size: 1.2em;
  font-weight: bold
}
.body {
  color: red;
  font-weight: bold
}