.episodes-content{
  padding: 50px;
  font-family: sans-serif;
  background-image: url("https://cdn.mos.cms.futurecdn.net/h4F9sAFM7FCP4pdwFz9ngW.jpg");
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}