.home-content {
  height: 1600px;
  width: 1600px;
  background-image: url("https://papers.co/wallpaper/papers.co-md65-star-dark-space-galaxy-23-wallpaper.jpg");
}
.rick-morty-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 1000px;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}
